// Hero Header 1
.hero-header-textbox-left {
  .hero-header-text-1 {
    margin-top: 30px; //162-90
    margin-right: 15px;
    a {
      margin-top: 5px; //add 5px to top
    }
  }
  img {
    margin-left: 15px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
