//page aline
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  .half {
    width: 50%;
    color: red;
  }
}
//hero header utils
.hero-header {
  background-color: $background;
  margin: 90px 90px;
  .hero-header-textbox-left {
    display: flex;
    flex-direction: row;
    margin: 90px 145px;
    .hero-header-text-1 {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .image {
      width: 50%;
      height: auto;
    }
    //p {
    //margin-top: 20px;
  }
}
